@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users
@model Facil.BioCentro.Web.Pages.IndexModel
@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser

@section styles {
<abp-style src="/Pages/Index.css" />
}

@section scripts {
<abp-script src="/Pages/Index.js" />
}


<div class="container">
    
</div>
