@page "/Pages/Financeiro/Caixa"

@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users
@model Facil.BioCentro.Web.Pages.Financeiro.Caixa.IndexModel
@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser

@{
}

@section styles {
    <abp-style src="/Pages/Financeiro/Caixa/Index.css" />
}

@section scripts {
    <abp-script src="/Pages/Financeiro/Caixa/Index.js" />
}


<div class="container">

    <h3>Fluxo Caixa</h3>

</div>
