@page

@using Facil.BioCentro.Localization
@using Facil.BioCentro.Web.Pages.Cadastro.Clientes
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal

@model Facil.BioCentro.Web.Pages.Cadastro.Clientes.EditModalModel

@inject IStringLocalizer<BioCentroResource> L

@{
    Layout = null;
}
<form asp-page="/Authors/EditModal">
    <abp-modal>
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="Cliente.Nome" />
            <abp-input asp-for="Cliente.Email" />

        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>
