@page

@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users
@model Facil.BioCentro.Web.Pages.Cadastro.Clientes.IndexModel
@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser

@{
}

@section styles {
    <abp-style src="/Pages/Cadastro/Clientes/Index.css" />
}

@section scripts {
    <abp-script src="/Pages/Cadastro/Clientes/Index.js" />
}


<div class="container">
</div>
