@page "/Pages/Cadastro/Servicos"

@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users


@model Facil.BioCentro.Web.Pages.Cadastro.Servicos.IndexModel


@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser

@{
}

@section styles {
    <abp-style src="/Pages/Cadastro/Servicos/Index.css" />
}

@section scripts {
    <abp-script src="/Pages/Cadastro/Servicos/Index.js" />
}


<div class="container">

    <h3>Serviços</h3>

</div>
