@page "/Pages/Cadastro/Servicos"

@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users


@model Facil.BioCentro.Web.Pages.Cadastro.Servicos.IndexModel


@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser

@{
}

@section styles {
    <abp-style src="/Pages/Cadastro/Servicos/Index.css" />
}

@section scripts {
    <abp-script src="/Pages/Cadastro/Servicos/Index.js" />
}




<div class="container">

    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L["Servicos"]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-end">
                    @*       @if (await AuthorizationService
                    .IsGrantedAsync(BioCentroPermissions.Clientes.Create))
                    {
                    <abp-button id="NovoClienteButton"
                    text="@L["NovoCliente"].Value"
                    icon="plus"
                    button-type="Primary" />
                    } *@

                    <abp-button id="NovoServicoButton"
                                text="@L["NovoServico"].Value"
                                icon="plus"
                                button-type="Primary" />
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <abp-table striped-rows="true" id="servicosTable"></abp-table>
        </abp-card-body>
    </abp-card>


</div>
