@page "/Pages/Cadastro/Profissionais"

@using Facil.BioCentro.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users

@model Facil.BioCentro.Web.Pages.Cadastro.Profissionais.IndexModel

@inject IAuthorizationService AuthorizationService
@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser


@section styles {
    <abp-style src="/Pages/Cadastro/Profissionais/Index.css" />
}

@section scripts {
    <abp-script src="/Pages/Cadastro/Profissionais/Index.js" />
}



<div class="container">

    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size-md="_6">
                    <abp-card-title>@L["Profissionais"]</abp-card-title>
                </abp-column>
                <abp-column size-md="_6" class="text-end">
                    @*       @if (await AuthorizationService
                    .IsGrantedAsync(BioCentroPermissions.Clientes.Create))
                    {
                    <abp-button id="NovoClienteButton"
                    text="@L["NovoCliente"].Value"
                    icon="plus"
                    button-type="Primary" />
                    } *@

                    <abp-button id="NovoProfissionalButton"
                                text="@L["NovoProfissional"].Value"
                                icon="plus"
                                button-type="Primary" />
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            <abp-table striped-rows="true" id="profissionaisTable"></abp-table>
        </abp-card-body>
    </abp-card>


</div>
