@page "/Pages/Cadastro/Profissionais"
@using Microsoft.AspNetCore.Mvc.Localization
@using Facil.BioCentro.Localization
@using Volo.Abp.Users

@model Facil.BioCentro.Web.Pages.Cadastro.Profissionais.IndexModel

@inject IHtmlLocalizer<BioCentroResource> L
@inject ICurrentUser CurrentUser

@{
}

@section styles {
    <abp-style src="/Pages/Cadastro/Profissionais/Index.css" />
}

@section scripts {
    <abp-script src="/Pages/Cadastro/Profissionais/Index.js" />
}


<div class="container">

    <h3>Profissionais</h3>

</div>
